html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#background {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  transition: backdrop-filter 0.5s ease; /* Smooth transition for the blur effect */
}
header {
  background-color: rgba(22, 22, 23, 0.8);
  width: 100%;
  height: 44px;
  position: fixed;
  z-index: 3;
  backdrop-filter: saturate(180%) blur(20px); /* 饱和度设置成180%*/
}
header #head_selc {
  margin: 0 145px 0;
  padding: 0 22px 0;
  height: 44px;
}
header ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
}
header li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11.5px;
  text-align: center;
  font-weight: lighter;
}

header img {
  height: 1rem;
}
header #bag_icon {
  height: 1.2rem;
}
header #search_icon {
  height: 1.4rem;
}
@keyframes slideDown {
  from {
    max-height: 100px;
  }
  to {
    max-height: 500px; /* Adjust to the final height of your submenu */
  }
}

.slide-down {
  overflow: hidden;
  animation-name: slideDown;
  animation-duration: 0.8s; /* Adjust duration as needed */
  animation-fill-mode: forwards; /* Keeps the state of the last keyframe after the animation */
}
#storeSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#storeSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#storeSubMenu #box1 {
  width: 340px;
}

#storeSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#storeSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#storeSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#storeSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#macSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#macSubMenu .sub-container {
  width: 1000%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
}
#macSubMenu #box1 {
  width: 340px;
}

#macSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#macSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#macSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#macSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#macSubMenu #box-con {
  color: aliceblue;
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: 25px;
}
#macSubMenu #box-buttom {
  color: aliceblue;
  font-size: 12px;
}
#ipadSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#ipadSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#ipadSubMenu #box1 {
  width: 240px;
}

#ipadSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#ipadSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#ipadSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#ipadSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-bottom: 20px;
}
#ipadSubMenu #box-con {
  color: aliceblue;
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: 25px;
}
#ipadSubMenu #box-buttom {
  color: aliceblue;
  font-size: 12px;
}
#iphoneSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#iphoneSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#iphoneSubMenu #box1 {
  width: 340px;
}

#iphoneSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#iphoneSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#iphoneSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#iphoneSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#watchSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#watchSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#watchSubMenu #box1 {
  width: 340px;
}

#watchSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#watchSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#watchSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#watchSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#apSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#apSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#apSubMenu #box1 {
  width: 340px;
}

#apSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#apSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#apSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#apSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#tvSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#tvSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#tvSubMenu #box1 {
  width: 340px;
}

#tvSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#tvSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#tvSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#tvSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#EnSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#EnSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#EnSubMenu #box1 {
  width: 340px;
}

#EnSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#EnSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#EnSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#EnSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#AccesSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#AccesSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#AccesSubMenu #box1 {
  width: 340px;
}

#AccesSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#AccesSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#AccesSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#AccesSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#supportSubMenu {
  display: none;
  margin-top: 472px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: aliceblue;
}
#supportSubMenu .sub-container {
  width: 40%;
  margin: 0 190px 0;
  display: flex;
  height: 430px;
  justify-content: space-around;
}
#supportSubMenu #box1 {
  width: 340px;
}

#supportSubMenu #box2 p {
  width: 120px;
  font-size: 12px;
}
#supportSubMenu #box3 p {
  width: 120px;
  font-size: 12px;
}

#supportSubMenu p {
  font-size: 25px;
  margin: 0 0 10px;
}
#supportSubMenu #box-title {
  color: gray;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
}
main #iphone15p_img {
  z-index: -1;
  height: 744px;
  margin-bottom: 15px;
  background-image: url("/apple_main_page/sources/img/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg");
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: aliceblue;
}
main #iphone15p_img_container {
  font-weight: normal;
  padding-top: 96px;
  height: 200px;
  text-align: center;
}
main .head_line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: normal;
  margin: 0%;
}

main .intro_line {
  font-size: 27px;
  font-weight: lighter;
  margin-top: 6px;
}
main .selection {
  color: #0071e3;
  font-size: 21px;
  font-weight: normal;
}
main #buy_selct {
  margin-left: 35px;
}

main #iphone15_img {
  height: 692px;
  background-image: url("/apple_main_page/sources/img/iphone15/iphone15.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
}
main #iphone15_img_container {
  font-weight: normal;
  padding-top: 44px;
  height: 200px;
  text-align: center;
}

@keyframes slideDown {
  from {
    max-height: 100px;
  }
  to {
    max-height: 500px; /* Adjust to the final height of your submenu */
  }
}

.slide-down {
  overflow: hidden;
  animation-name: slideDown;
  animation-duration: 0.6s; /* Adjust duration as needed */
  animation-fill-mode: forwards; /* Keeps the state of the last keyframe after the animation */
}

@keyframes slideup {
  from {
    max-height: 500px;
  }
  to {
    max-height: 44px; /* Adjust to the final height of your submenu */
  }
}

.slide-up {
  overflow: hidden;
  animation-name: slideup;
  animation-duration: 0.6s; /* Adjust duration as needed */
  animation-fill-mode: forwards; /* Keeps the state of the last keyframe after the animation */
}
